.banner{
    margin-top: 1vh;
    height: 80vh;
    margin-bottom: -70px;
    color: white;
    object-fit: contain;
}
.contents{
    margin-left: 30px;
    padding-top: 14%;
}
.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.description{
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    max-width: 550px;
    height: 80px;
}
.button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.7rem 3rem;
    margin-right: 2rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.play{
    color: #000;
    background-color: #fff;
}
.button:hover{
    color: #000;
    background-color: #c6c6c6;
    transition: all 0.2s;
}
.fadeBottom{
    height: 40vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37, 37, 37, 0.91),
        #111
    );
}